.navbar-container {
    background-color: rgb(85, 0, 101);
}

.profile-icon {
    display: flex;
    justify-content: flex-end;
}

.login-signup-link-container {
    display: flex;
    justify-content: flex-end;
}

h4 {
    font-family: 'Open Sans';
    font-weight: bold;
    color:'red';
    justify-content: flex-start;
}

box {
    margin-right: 20px;
}

.navbar-buttons:hover {
    color: rgb(245, 69,0);
}

.profile-icon:hover {
    border-style:solid;
    border-radius: 20px;
    border-color: rgb(245, 69,0);
}