.follow {
    text-align: center;
    background-color: white;
    padding: 4%;
    min-width: 20%;
    min-height: 500px;
}

h3 {
    font-family: 'Poppins';
}

.empty-followers {
    font-family: 'Open Sans';
    color: rgb(67, 67, 67);
}

.Button:hover {
    background-color: rgb(234, 124, 81);
}