.save-button {
    background-color: rgb(245, 69,0);
}
.save-button:hover {
    background-color: rgb(234, 124, 81) !important;
}
.table-header {
    font-family: 'Open Sans';
    font-weight: 700;
}

h2 {
    font-family: 'Poppins';
}

.page-button:hover {
    border-color: rgb(245, 69,0) !important;
    background-color: rgb(245, 69,0) !important;
    color: white;
  }

.search-button {
    font-family: 'Open Sans';
    font-weight: 600;
    height: 100%;
}
  
.search-button:hover {
    background-color: rgb(234, 124, 81) !important;
}
  