.follow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: text-top;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
}
