.filter {
    text-align: center;
    background-size: cover;
    display: flex;
  }

.main-search {
    width: 100%;
}

.search-button {
  font-family: 'Open Sans';
  font-weight: 600;
}

.search-button:hover {
  background-color: rgb(234, 124, 81);
}

.page-button:hover {
  border-color: rgb(245, 69,0);
  background-color: rgb(245, 69,0);
  color: white;
}

.table-header {
  font-family: 'Open Sans';
  font-weight: 700;
}